.kasa-title {
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 10px;
}

.sub-title {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.host {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.host-name {
    font-size: 18px;
    color: #FF6060;
    font-weight: 500;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    text-align: end;
}

.host-pic {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    padding: 5px;
}

.star {
    height: 24.75px;
    padding: 7.5px;
}

.tag {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FF6060;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    height: 25px;
    margin-right: 10px;
}

.bottom-section {
    padding-bottom: 200px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.semi-collapse {
    width: 45%;
}