@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

.layout {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 25px;
}