@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.layout {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 25px;
}

.home-image-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  position: relative; /* Ajout */
}

.home-subtitle {
  position: absolute;
  color: white;
  font-size: 48px;
}

.home-image {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  object-fit: cover;
  border-radius: 25px;
}