/* #FF6060 Color from figma */

.kasa-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navigation:link,
.navigation:visited {
  color: #FF6060;
  text-decoration: none;
  margin-left: 70px;
  font-size: 24px;
  font-weight: 500;
}
.navigation.active {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.logo {
  height: 50px;
}