.card-wrapper {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 50px;
  }
  
  .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card-bottom {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
    height: 15%;
    overflow: hidden;
  }

  .card-title {
    color: white;
    line-height: 25.67px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }

  .opacity-gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.50) 1%, rgba(255, 255, 255, 0.308) 100%);
    border-radius: 10px;
  }