.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.big-title {
    font-size: 288px;
    line-height: 10px;
    color: #FF6060;
    font-weight: 700;
}

.subtitle {
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
}

.navigation-error:link,
.navigation-error:visited {
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #FF6060;
}



  
  
  
